"0": 
{
	"name": "Visual down",
	"opacity": 1,
	"tintColor": "#ffffff",
	"visible": true,
	"locked": false,
	"selected": false,
	"type": "ImageLayer",
	"depth": 12000
},
"1": 
{
	"name": "Visual top",
	"opacity": 1,
	"tintColor": "#ffffff",
	"visible": true,
	"locked": false,
	"selected": false,
	"type": "ImageLayer",
	"depth": -12000
},
"2": 
{
	"name": "All other objects",
	"opacity": 1,
	"tintColor": "#ffffff",
	"visible": true,
	"locked": false,
	"selected": true,
	"type": "ObjectLayer",
	"depth": 0
},
"3": 
{
	"name": "Playzone",
	"opacity": 1,
	"tintColor": "#ffffff",
	"visible": true,
	"locked": false,
	"selected": false,
	"type": "ObjectLayer",
	"depth": 0
},
"4": 
{
	"name": "Walls",
	"opacity": 1,
	"tintColor": "#ffffff",
	"visible": true,
	"locked": false,
	"selected": false,
	"type": "ObjectLayer",
	"depth": 0
}
